@model WebApp_DB.Entidades.PermissaoEntidade

<form action="/Permissao/SalvarDados" method="post">
    <input type="text" name="Descricao" />
    <br />
    <button type="submit">Salvar</button>
</form>